body {
  background-color: #f5e3e2;
}
.body {
  background-color: white;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 15px;
  padding: 30px;
  font-family: roboto;
}
header {
  border-bottom: 1px solid #f5e3e2;
  padding: 0 0 20px;
}

a {
  color: #831d1c;
}
.search-form {
  padding: 10px;
}

.search-form-input {
  padding: 10px;
  border-radius: 10px;
  width: 80%;
}

.search-form-button {
  padding: 10px;
  border-radius: 10px;
  background-color: #831d1c;
  color: white;
}
.weather-data {
  display: flex;
  justify-content: space-between;
}
.weather-city {
  margin: 0px;
}
.weather-details {
  margin: 0px;
  color: rgb(143, 143, 143);
  font-size: 14px;
  line-height: 20px;
}
.weather-details strong {
  color: #831d1c;
}
.weather-temperature-container {
  display: flex;
}
.weather-temperature-icon {
  width: 88px;
  height: 88px;
}
.weather-temperature-value {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}
.weather-temperature-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.weather-forecast-date {
  text-align: center;
  color: rgb(143, 143, 143);
  font-size: 14px;
  line-height: 20px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weahter-forecast-temperatures {
  text-align: center;
  color: #831d1c;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.weahter-forecast-temperature {
  padding: 0 10px;
}

main {
  padding: 10px;
}
h1 {
  color: #831d1c;
}
footer {
  border-top: 1px solid #f5e3e2;
  padding: 30px 0 0;
  font-size: 12px;
  text-align: center;
}
